bower_components/
node_modules/
.DS_Store
.idea/
.vscode/
logs/*.log
build
iyunxiao-oa.iml
temp/!applytemplate.xls
temp/upload_*
public/**/*
.tags*
pp-gen-failed.js
reports/jsons/*.json
reports/*.zip
reports/schools/**/*.png
test/SHA1.js
test/createnenoinfo.js
test/testmysql.js
test/**/*
server/middlewares/neoncreateschool/passport_sql.sql
server/middlewares/neoncreateschool/sql.sql
server/views/index.hbs
